@page { size: auto;  margin: 0mm; }
@import url('https://fonts.googleapis.com/css?family=Romanesco&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link a {
  text-decoration: none;
  color:rgba(0, 0, 0, 0.87)
}

.page-title {
  padding-left: 15px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3)
}

.page-title-text{
  font-size: 16px!important;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgba(0,0,0,0.75);margin-bottom: 0!important;
}

.full-width-table, .full-width-table td, .full-width-table th {
  border: 1px solid #ddd;
  border-left: 0;
  font-size: 0.8rem;
}

.full-width-table{
  width: 100%;
  border-collapse: collapse;
}

.full-width-table th, tbody td {
  height: 50px;
  text-align: center;
}


.none-min-height{
  min-height: 50px!important;
}
@media (min-width: 600px){
  .header-toolbar{
    min-height: 0!important;
  }
}
.MuiPaper-elevation4{
  box-shadow: none!important
}


.tbl-nhap-tphh, .tbl-nhap-tphh td, .tbl-nhap-tphh th{
  border:1px solid #ddd
}


.tbl-nhap-tphh tr td:first-child{
  border-left: 0
}

.tbl-nhap-tphh tr th:first-child{
  border-left: 0
}


.tbl-nhap-tphh tr th:last-child{
  border-right: 0
}

.tbl-nhap-tphh tr td:last-child{
  border-right: 0
}

.tbl-nhap-tphh{
  width: 100%;
  border-collapse: collapse;
  border-left: 0;
  border-right: 0;
}

ul.paging{
  margin: 0;
  margin-top: 15px;
  padding: 0;
  padding: 5px 0;
}

ul.paging li{
  display: inline-block;
}

ul.paging li .paging-button{
  font-size: 0.9rem;
  min-width: 40px;
  font-weight: bold;
}

ul.paging li .paging-button.active{
  background: #9c27b0;
  color: #fff
}

.page-content{
  background: #fff;
}

.padding15{
    padding:1rem
}

.custom-dialog .MuiDialog-paper{
  height: 100vh!important;
  border-radius: 0;
}
.custom-dialog .MuiDialog-paperScrollPaper{
  max-height: none;
}

/*FIle in chung chi */
table.tbl-in-ttc td{
  height: 20px;
  text-align: left;
}

table.tbl-in-ttc tr td:nth-child(2){
  padding-left: 50px;
  padding-right: 50px;
}

table.tlb-incc-solieu, table.tlb-incc-solieu td, table.tlb-incc-solieu th{
  border:1px solid #000
}

table.tlb-incc-solieu td{
  height: 15px;
  padding: 1px;
}

table.tlb-incc-solieu{
  color:'#000';
  font-family: 'Times New Roman';
  border-collapse: collapse;
}

.ket-luan{
  padding: 15px;
  font-family: 'Times New Roman';
  line-height: 0.6;
}

/*Chi tiết hợp đồng */
table.collapse-table, table.collapse-table td, table.collapse-table th{
  border:1px solid #000
}
table.collapse-table{
  width: 100%;
  border-collapse: collapse;
}

.tbl-height-row-40 th,.tbl-height-row-40 td{
  height: 30px;
}
